@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/Image1.jpeg");
  background-repeat: no-repeat;
  background-size: 150%;
}

.form {
  display: flex;
  justify-content: center;
}

.form form {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 100px;
  padding: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: lightcyan;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

label {
  margin: 5px 0px;
  font-size: smaller;
  font-weight: bold;
}

button {
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: rgb(33, 33, 184);
  border-radius: 10px;
  color: white;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(203, 218, 233);
}
