@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.container-background {
  background-color: rgb(215, 228, 227);
}

.width-max-content {
  width: max-content;
}

.transparent-bg-color {
  background-color: rgba(255, 255, 255, 0.5);
}

.label {
  margin: 5px 0px;
  font-size: smaller;
  font-weight: bold;
}

.primary-button {
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: rgb(33, 33, 184);
  border-radius: 10px;
  color: white;
}

.input {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(203, 218, 233);
}

.form-container .formik-field {
  height: fit-content;
}
